* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.main-wrapper {
    /*border: 1px solid black;*/
    width: 950px;
    max-height: 650px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.left-col {
    height: 100%;
    /*border: 1px solid purple;*/
    width: 400px;
    display: inline-block;
    text-align: center;
}

    .left-col img {
        width: 82%;
    }
    
.right-col {
    width: calc(100% - 400px);
    /*border: 1px solid blue;*/
    display: inline-block;
    height: 100%;
    float: right;
}

.sml-row {
    width: 100%;
    /*border: 1px solid blue;*/
    text-align: center;
    margin-bottom: 14px;
}

/*.sml-img-container {
    display: inline-block;
    width: 180px;
    margin: 0;
    border: 1px solid red;
}*/
    

.top-title {
    margin: 0 auto;
    width: 400px;
    height: 100%;
}

    .top-title img{
        width: 200px;
        display: inline-block;
    }
    
.button-container {
    width: 150px;
    float: right;
    margin-top: 55px;
}

    .button-container img {
        width: 100px;
    }

    .sml-row h2 {
        font-weight: 400;
        font-size: 40px;
        letter-spacing: 1px;
        color: #444;
        line-height: 44px;
        /*color: #FFF;*/
    }
    
.side-img-container {
    height: 200px;
    width: 165px;
    /*border: 1px solid green;*/
    position: relative;
    display: inline-block;
    vertical-align: top;
} 

#show-img {
    display: none;
}  

    .side-img-container img {
        width: 90px;
        /*height: 90%;*/
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
    
.text-box {
    width: calc(100% - 165px);
    height: 100%;
    /*border: 1px solid rebeccapurple;*/
    float: right;
}

    .text-box h3 {
        font-weight: 400;
        font-size: 20px;
        color: #333;
        letter-spacing: 0.5px;
        padding-top: 16px;
        text-align: center;
    }
    
    .text-box h4 {
        font-weight: 100;
        font-size: 16px;
        color: #333;
        letter-spacing: 0.5px;
        text-align: left;
        padding: 10px 0 0 5px;
    }
    
.tb-bottom {
    display: none;
}
    
    
/* MEDIA QUERIES */
    
@media (max-width: 1000px){
    
    .top-title img{
        width: 250px;
        display: inline-block;
    }
    
    .button-container {
        width: 115px;
        float: right;
        margin-top: 65px;
    }
    
     .button-container img {
        width: 100px;
    }
    
    .main-wrapper {
        width: 95%;
    }
    
    .left-col {
        display: none;
    }
    
    #hide {
        display: none;
    }
    
    .right-col {
        width: 100%;
    }
    
    #show-img {
        display: inline-block;
    }
    
    .sml-row {
        height: auto;
        float: none;
        text-align: left;
        margin-bottom: 5px;
        /*border: 1px solid rebeccapurple;*/
    }
    
    .side-img-container {
        height: 400px;
        width: 205px;
        display: inline-block;
    } 

    .side-img-container img {
        width: 90%;
    } 
    
    .tb-top {
        width: calc(100% - 415px);
        vertical-align: top;
        /*border: 1px solid red;*/
        margin-top: 6px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    #profile-screenshot {
        margin-left: 105px;
    }
    
    .tb-bottom {
        display: inline;
    }
    
    .text-box h3 {
        padding-top: 24px;
        font-size: 24px;
    }
}

@media (max-width: 900px){
    
    .text-box h3 {
        padding-top: 32px;
        font-size: 21px;
    }
    
    .text-box h4 {
        font-size: 15px;
    }
    
     .tb-top {
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;

    }
    
    .side-img-container {
        width: 24%;
        display: inline-block;
    } 
    
    .tb-top {
        width: calc(100% - 50%);
    }
}

@media (max-width: 750px){
    
    .tb-top {
        width: 95%;
        
    }
    
    .text-box {
        float: none;
        margin-bottom: 30px;
        border: 1px solid red;
    }
    
    .side-img-container {
        width: 28%;
        text-align: center;
    } 


}

